test_project/
.DS_Store
src/__pycache__/
src/config.pyc
data/_pycache__/
data/raw/.DS_Store
data/processed/.DS_Store
notebooks/.ipynb_checkpoints/
logs/.DS_Store
logs/.gitkeep
.vscode/
.env
.venv/
.idea/
*.pyc
__pycache__/
src/project_scaffolder/.DS_Store
src/project_scaffolder/__pycache__/
src/project_scaffolder/config.pyc
src/project_scaffolder/project_scaffolder.egg-info/
src/project_scaffolder/dist/
src/project_scaffolder/build/
src/project_scaffolder/.gitignore
src/project_scaffolder/.vscode/
src/project_scaffolder/.idea/
src/project_scaffolder/data/_pycache__/
src/project_scaffolder/notebooks/.ipynb_checkpoints/
src/project_scaffolder/scaffold/_pycache__/
src/project_scaffolder/templates/_pycache__/
my_new_project/
src/project_scaffolder.egg-info/
src/project_scaffolder/dist/
test_project/
sales-performance/
.ruff_cache/
my_project/
.coverage
htmlcov/
dist/
build/
*.egg-info/