
logs/
__pycache__/
*.pyc
.env
.vscode/
src/__pycache__/
src/db/__pycache__/
src/utils/__pycache__/
*.egg-info/
build/
dist/
src/tests/__pycache__/
src/tests/unit/__pycache__/
src/tests/integration/__pycache__/
src/tests/data_quality/__pycache__/
src/digital_twin/cleaning/__pycache__/
src/digital_twin/ingestion/__pycache__/
src/digital_twin/modeling/__pycache__/
src/digital_twin/orchestration/__pycache__/
src/digital_twin/db/__pycache__/
.coverage
htmlcov/
.pytest_cache/
__pytest_cache__/
.pytest_cache/
.ruff_cache/
src/digital_twin/digital_twin.egg-info/
.venv/
venv/
